#menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

#menu {
    width: 700px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 15px;
}