:root {
    --overlay-color: rgba(0, 0, 0, 0.4);
    --border-radius: 10px
}

/* Overlay for the menu */
#menu-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-color);
    pointer-events: auto;
    z-index: 2;
}

/* Main menu styles */
.menu {
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: var(--border-radius)
  }
  
  .tabs {
    background-color: #
  }
  